{% extends "base.html" %}

{% block content %}
<section style="margin-top: 5em;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <img class="img-fluid rounded-circle" src="static/ressources/mike_RLM.webp" alt="blop">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1>404 error</h1>
                </br><h2>Page not found</h2>
                <a href="{{ url_for('index') }}">
                    <button type="button" class="btn btn-primary btn-xl rounded-pill mt-5">
                        Go back home !
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}